.content-container {
  display: flex;
  justify-content: center;
  height: auto;
  margin-top: 9rem;
}
.content-box {
  background-image: linear-gradient(
    to top left,
    var(--corp-darker-green),
    var(--corp-dark-green)
  );
  color: white;
  height: auto;
  min-height: 22rem;
  width: 35%;
  margin: 1.5rem;
  border: 2px solid var(--corp-dark-blue);
  border-radius: 7%;
}
/* First box */
.main-adress {
  display: inline-block;
  width: 100%;
  margin: 1rem;
  padding-top: 1rem;
  font-size: 1.5rem;
  font-family: "Sora", sans-serif;
}
.content-main-box {
  position: relative;
}
.main-icon-box {
  position: absolute;
  top: 1rem;
  right: 4rem;
}
.main-icon {
  width: 8rem;
}
.main-degree-box {
  position: absolute;
  top: 0;
  left: 0;
}
.main-degree {
  font-size: 6rem;
  margin-left: 1rem;
  font-family: "Sora", sans-serif;
}
.main-wheather-detail-box {
  position: absolute;
  top: 8rem;
}
.main-wheather-detail {
  margin: 0.5rem;
  margin-left: 1.5rem;
  font-size: 1.5rem;
  font-family: "Sora", sans-serif;
}
.main-daynight-box {
  position: absolute;
  top: 12rem;
}
.main-daynight {
  margin-left: 1.5rem;
  font-size: 1.5rem;
  font-family: "Sora", sans-serif;
}
/* Second box */
.list-group-daily {
  list-style: none;
  display: inline-block;
  width: 46%;
  font-size: 1.1rem;
  font-weight: 400;
  font-family: "Sora", sans-serif;
}
.list-daily {
  background-color: rgba(0, 128, 128, 0.5);
  margin: 0.1rem;
  padding: 00.25rem;
  padding-left: 00.25rem;
  margin-top: 0.8rem;
  /* border: 2px solid white;
  border-right: none;
  border-left: none;
  border-top: none; */
}
.fells-sun-icons-container {
  display: flex;
}
.feels-box {
  width: 30%;
  margin: 1.5rem;
  padding-top: 0.8rem;
}
.feels-box p {
  font-size: 2rem;
  text-align: center;
  font-family: "Sora", sans-serif;
}
.sunrise-set-box {
  width: 60%;
  padding-left: 1rem;
  padding-top: 1.3rem;
}
.sunrise-set {
  width: 2rem;
  margin: 1rem;
  text-align: center;
}
.sunrise-icons {
  margin: 1rem 2rem 0.5rem 2rem;
  width: 3rem;
}
.sunrise-time {
  margin: 1rem 2rem 0.5rem 2.45rem;
  font-family: "Sora", sans-serif;
}
.hidden {
  display: none;
}
