.content_container {
  display: flex;
  margin-left: 5%;
  height: auto;
}
.content-box {
  background-color: aqua;
  height: 50rem;
  width: 37%;
  border: 2px solid black;
  margin: 0.5rem;
}
/* First box */
.main-adress {
  display: inline-block;
  width: 100%;
  margin: 1rem;
  padding-top: 1rem;
  font-size: 1.5rem;
}
.content-main-box {
position: relative;

}
.main-icon-box{
  position: absolute;
  top: 1rem;
  right: 4rem;
}
.main-icon {
  width: 7rem;
}
.main-degree-box {
  position: absolute;
  top: 0;
  left: 0;
}
.main-degree {
  font-size: 6rem;
  margin-left: 1rem;
}
.main-wheather-detail-box{
  position: absolute;
  top: 8rem;
}
.main-wheather-detail{
margin: 0.5rem;
margin-left: 1.5rem;
font-size: 1.5rem;
}
.main-daynight-box{
  position: absolute;
  top: 12rem;
}
.main-daynight{
  margin-left: 1.5rem;
  font-size: 1.5rem;
}
/* Second box */
.list-group-daily {
  list-style: none;
  display: inline-block;
  width: 46%;
}
.list-daily {
  border: 1px solid black;
  border-right: none;
  border-left: none;
  border-top: none;
  padding-top: 1.4rem;
  font-size: 1.1rem;
  font-weight: 700;
}
.fells-sun-icons-container {
  display: flex;
}
.feels-box{
  width: 30%;
  margin: 1.5rem;
}
.feels-box p {
  font-size: 2rem;
  text-align: center;
}
.sunrise-set-box {
  width:60%;
  padding-left: 1rem;
}
.sunrise-set {
  width: 2rem;
  margin: 1rem;
  margin: 1rem 2rem 0.5rem 2rem;
  text-align: center;

}

