.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(
      to bottom right,
      var(--corp-bg-darkgreen),
      var(--corp-bg-ligtergreen)
    ),
    url(../images/bg-image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 38%;
  z-index: 10;
}
.nav-container {
  position: relative;
}
.quick-wheather {
  font-family: "Pacifico", cursive;
  font-weight: 700;
  font-size: 1.3rem;
  color: var(--corp-dark-blue);
}
.quick-wheather:hover {
  color: var(--corp-dark-blue);
  font-family: "Pacifico", cursive;
}
.search-form {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translatey(-50%);
  width: 21%;
  font-family: "Changa", sans-serif;
}
.search-input {
  text-align: center;
}
.btn-search {
  margin-left: 0.5rem;
  font-size: small;
  padding: 0.25rem;
  border-color: var(--corp-btn-border);
}
.btn-search:hover {
  background-color: var(--corp-btn-hover);
}
.symbol-container {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
}
.degree-symbol {
  padding: 0.4rem;
  text-align: center;
  margin: 0.3rem;
  border: 0.1rem solid var(--corp-btn-hover);
  border-radius: 15%;
  cursor: pointer;
}
#celcius {
  padding: 0.33rem;
}
.switch-degree-btn {
  background-color: var(--corp-btn-hover);
  color: black;
}
/* change_container */
.change_container {
  position: relative;
  width: 100%;
  height: 2.3rem;
  color: white;
  background-color: var(--corp-dark-blue);
}
.current-location {
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translateY(-50%);
}
.current-date {
  position: absolute;
  top: 50%;
  left: 12%;
  transform: translateY(-50%);
  margin-left: 00.4rem;
}
.change-buttons-box {
  position: absolute;
  right: 50%;
  bottom: 0;
  transform: translateX(50%);
}
.change-buttons {
  display: flex;
}
.bar {
  width: 100px;
  margin: 6px;
  text-align: center;
  border-bottom: 4px solid var(--corp-dark-blue);
  cursor: pointer;
  transition: 0.4s;
}
.bar-switch {
  border-bottom: 4px solid #fff;
}
