.weekly-container {
  flex-direction: column;
  align-items: center;
  /* overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory; */
}
.weekly-main-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 40%;
  border-radius: 3%;
  min-height: 10rem;
  height: auto;
  /* scroll-snap-align: center; */

  transition: transform 1s, opacity 1s;
}
.weekly-adress {
  display: block;
  height: 2rem;
  width: 100%;
  margin: 1rem;
  font-size: 1.5rem;
  padding-left: 1.5rem;
  font-family: "Sora", sans-serif;
  /* text-align: center; */
}
.weekly-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  width: 100%;
  margin: 0.5rem;
}
.weekly-temp-box {
  width: 30%;
  text-align: center;
}
.day-night-weekly {
  font-size: 1.7rem;
  margin: 0;
}
.day-night-temp-weekly {
  font-size: 1.3rem;
}
.feels-temp-weekly {
  font-size: 1.3rem;
  margin-left: 1.7rem;
}
.feels-weekly {
  display: inline-block;
  font-size: 0.5rem;
  border: 2px solid white;
  border-radius: 50%;
  padding: 0.1rem;
}
.weekly-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.weekly-icon-box img {
  width: 8rem;
}
.list-group-weekly {
  list-style-type: none;
  margin-right: 2rem;
}
.list-weekly {
  background-color: rgba(0, 128, 128, 0.5);
  margin: 0.1rem;
  padding: 0.3rem;
}
.hidden-weekly-box {
  opacity: 0;
  transform: translateY(6rem);
}
